<img
  src="/images/courses/gold/gold-v1.webp"
  alt="Dog focusing on handler while off lead during Gold Obedience training"
  width="500"
  height="332"
  loading="lazy"
  decoding="async"
  class="figure-right"
/>

<p>This class is mainly focused on, off lead obedience, to a high standard.</p>
<p>
  Gaynor adds something different, to keep things interesting. she teaches you
  how to get your dog, to use his sense of smell, to find his toy.
</p>

<h2>You Will Learn</h2>

<h2>Off lead heel work.</h2>
<p>
  In this course Gaynor teaches you how to incentivise your dog to stay at your
  side when you are walking the dog off lead.
</p>

<h2>Three minute stay.</h2>
<p>
  We continue to practice your dog staying in the same position, aiming now for
  a three minute stay with people walking around to create a distraction.
</p>

<h2>Recall with distraction.</h2>
<p>
  We improve the recall by calling your dog back to you when there are lots of
  distractions, such as other dogs running around and people walking about.
</p>

<h2>Left finish.</h2>
<p>
  When the dog returns back you and into the present position, Gaynor will then
  show you how to get the dog to come around you and back into the heel
  position.This is called the left finish.
</p>

<h2>Recall back to heel.</h2>
<p>
  Gaynor will also show you how to recall your dog back to the heelwork position
  when you are on the move.
</p>

<h2>Stand</h2>
<p>
  It is in this class she teaches you how to get your dog to do a new position
  and that is the stand. Once your dog knows this we practice sit, down, and
  stand. Then we teach you the running down.
</p>

<h2>Find the toy.</h2>
<p>
  To keep your dog interested and motivated she adds a new exercise. Teaching
  you how to get your dog to find his toy when it is amongst others.
</p>
<p>
  It is a proven fact that your dog's sense of smell when detecting sweat is a
  million times better than ours, your dog will welcome the opportunity to show
  off his superior sense of smell.
</p>

<hr />

<h2>Agility</h2>
<img
  src="/images/courses/gold/agility-v1.webp"
  alt="Dogs on the agility course during a Gold Obedience session"
  width="500"
  height="517"
  loading="lazy"
  decoding="async"
  class="figure-left"
/>

<p>Weather permitting the dogs continues to enjoy the agility course.</p>
<p>
  As always the dogs run off lead at the beginning and the end of every class
  for them to socialise.
</p>
<p>
  During this course you will have taught your dog to focus on you when there
  are distractions around him.
</p>
<p>
  You will have taught new disciplines and taken his education to a much higher
  level.
</p>
